<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="ParentTableName" value="Categorie"/>
		<add key="ChildTableName" value="Produs"/>
		<add key="IndexID" value="0"/>
		<add key="ChildToParentID" value="id_cat"/>
		<add key="ChildNumberOfColumns" value="2"/>
		<add key="ChildColumnNames" value="Denumire, Pret"/>
		<add key="ChildColumnTypes" value="string, int"/>
		<add key="ChildArr" value="@denumire, @pret"/>
		<add key="ChildInsertQUERY" value="INSERT INTO Produs(denumire,pret,id_cat)
VALUES (@denumire,@pret,@id_cat);"/>
		<add key="ChildDeleteQUERY" value="Delete  
from Produs where id_produs = @id;"/>
		<add key="ChildUpdateQUERY" value="Update  
Produs set denumire = @denumire, pret = @pret
where id_produs=@id;"/>
		
		
			
			<!--<add key="ChildArr" value="@id, @C, @D, @P, @Descriere"/>
			<add key="ChildInsertQUERY" value="INSERT INTO Bauturi 
(Id_Meniu, Cantitate, Denumire, Pret, Descriere)  
VALUES (@id,@C,@D,@P,@Descriere);"/>
			<add key="ChildDeleteQUERY" value="Delete  
from Bauturi where Id_Mancare = @id;"/>
			<add key="ChildUpdateQUERY" value="Update  
Bauturi set Cantitate = @C, Denumire = @D, 
Pret = @P, Descriere = @Descriere 
where Id_Bautura=@id;"/>--><!--

		</appSettings>-->

	</appSettings>
</configuration>