<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="ParentTableName" value="Categorie"/>
		<add key="ChildTableName" value="Produs"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildLabelNames" value="Denumire,Pret,IdCategorie"/>
		<add key="ChildTextBoxContent" value="Lapte,15,2"/>
		<add key="ColumnNamesInsertParameters" value="@denumire,@pret,@id_cat"/>
		<add key="UpdateQuery" value="update Produs set denumire=@denumire,pret=@pret,id_cat=@id_cat where id_produs=@id"/>
		<add key="SelectQuery" value="select * from Produs"/>
		<add key="SelectParent" value="select * from Categorie"/>
		<add key="SelectChild" value="select * from Produs where id_cat=@id"/>
		<add key="DeleteChild" value="delete from Produs where id_produs=@id"/>
	</appSettings>
	
	<!--<appSettings>
		<add key="ParentTableName" value="Client"/>
		<add key="ChildTableName" value="Comanda"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildLabelNames" value="Data_Comanda,Id_Client,Id_Magazin"/>
		<add key="ChildTextBoxContent" value="2023-04-21,1,1"/>
		<add key="ColumnNamesInsertParameters" value="@data,@id_client,@id_magazin"/>
		<add key="UpdateQuery" value="update Comanda set data_comanda=@data,id_client=@id_client,id_magazin=@id_magazin where id_comanda=@id"/>
		<add key="SelectQuery" value="select * from Comanda"/>
		<add key="SelectParent" value="select * from Client"/>
		<add key="SelectChild" value="select * from Comanda where id_comanda=@id"/>
		<add key="DeleteChild" value="delete from Comanda where id_comanda=@id"/>
	</appSettings>-->
</configuration>