<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="select" value="select *from Categorie"/>
	</appSettings>
</configuration>