<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="selectP" value="select *from Categorie"/>
		<add key="selectC" value="select *from Produs where id_cat="/>
		<add key="ParentTableName" value="Categorie"/>
		<add key="ChildTableName" value="Produs"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="PName,Quantity,Price"/>
		<add key="ColumnNamesInsertParameters" value="@pname,@quantity, @price"/>
		<add key="UpdateQuery" value="UPDATE ProductSET PName = @pname, Quantity=@quantity,  Price=@priceWHERE Cid=@cid"/>
	</appSettings>
</configuration>