<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="selectP" value="select *from Categorie"/>
		<add key="selectC" value="select *from Produs where id_cat="/>
		<add key="ParentTableName" value="Categorie"/>
		<add key="ChildTableName" value="Produs"/>
		<add key="ChildNumberOfColumns" value="2"/>
		<add key="ChildColumnNames" value="Denumire, Pret"/>
		<add key="ColumnNamesInsertParameters" value="@f,@l"/>
		<add key="UpdateQuery" value="Update Produs set denumire=@f, pret=@l, id_cat=@i where id_produs=@id"/>
	</appSettings>
</configuration>