<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<!--<appSettings>
		<add key="ParentTableName" value="Categorie"/>
		<add key="ChildTableName" value="Produs"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildLabelNames" value="Denumire,Pret,IdCategorie"/>
		<add key="ChildTextBoxContent" value="Lapte,15,2"/>
		<add key="ColumnNamesInsertParameters" value="@denumire,@pret,@id_cat"/>
		<add key="UpdateQuery" value="update Produs set denumire=@denumire,pret=@pret,id_cat=@id_cat where id_produs=@id"/>
		<add key="SelectQuery" value="select * from Produs"/>
		<add key="SelectParent" value="select * from Categorie"/>
		<add key="SelectChild" value="select * from Produs where id_cat=@id"/>
		<add key="DeleteChild" value="delete from Produs where id_produs=@id"/>
	</appSettings>-->
	
	<appSettings>
		<add key="ParentTableName" value="Functie"/>
		<add key="ChildTableName" value="Angajati"/>
		<add key="ChildNumberOfColumns" value="4"/>
		<add key="ChildLabelNames" value="Nume,DataNasterii,IDmagazin,IDfunctie"/>
		<add key="ChildTextBoxContent" value="Ana,2023-04-21,1,1"/>
		<add key="ColumnNamesInsertParameters" value="@nume,@data,@id_magazin,@id_functie"/>
		<add key="UpdateQuery" value="update Angajati set nume=@nume,data_nasterii=@data,id_magazin=@id_magazin,@id_functie=id_functie where id_angajat=@id"/>
		<add key="SelectQuery" value="select * from Angajati"/>
		<add key="SelectParent" value="select * from Functie"/>
		<add key="SelectChild" value="select * from Angajati where id_functie=@id"/>
		<add key="DeleteChild" value="delete from Angajati where id_angajat=@id"/>
	</appSettings>
</configuration>