<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=LAPTOP-1COTFGBR\SQLEXPRESS; Database=MagazinAlimentar; Integrated Security=true; TrustServerCertificate=true;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFRAMEWORK, Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="ParentTableName" value="Categorie"/>
		<add key="ChildTableName" value="Produs"/>
		<add key="IndexID" value="0"/>
		<add key="ChildToParentID" value="id_cat"/>
		<add key="ChildNumberOfColumns" value="2"/>
		<add key="ChildColumnNames" value="Denumire,Pret,IdCat"/>
		<add key="ChildColumnTypes" value="string, int,int"/>
		<add key="ChildArr" value="@id, @denumire, @pret, @id_cat"/>
		<add key="ChildInsertQUERY" value="INSERT INTO Produs VALUES (@denumire,@pret,@id_cat);"/>
		<add key="ChildDeleteQUERY" value="Delete from produs where id_produs=@id;"/>
		<add key="ChildUpdateQUERY" value="Update produs set denumire = @denumire, pret=@pret, id_cat=@id_cat where id_produs=@id;"/>

	</appSettings>
</configuration>